.myInfoGym .row {
  padding: 0;
}

.followers-modal {
  background: rgba(0, 169, 173, 0.9);
}

.followers-content h1 {
  font-weight: 900;
  color: #00a9ad;
}

.followers-content .follower {
  display: flex;
  align-items: center;
  padding: 1.6rem 0;
  border-bottom: solid 0.1rem #e8e8e8;
}

.followers-content .follower:last-child {
  border-bottom: 0;
}

.followers-content .follower .avatar {
  width: 3rem;
  height: 3rem;
  display: block;
  border: solid 0.2rem #00a9ad;
  margin-right: 1rem;
  border-radius: 4rem;
}
