@import '../../../stylesheets/variables';

.myInfoGym {
  .row {
    padding: 0;
  }
}

.followers-modal {
  background: rgba($blue, 0.9);
}

.followers-content {
  h1 {
    font-weight: 900;
    color: $blue;
  }

  .follower {
    display: flex;
    align-items: center;
    padding: 1.6rem 0;
    border-bottom: solid 0.1rem $light-gray;

    &:last-child {
      border-bottom: 0;
    }

    .avatar {
      width: 3rem;
      height: 3rem;
      display: block;
      border: solid 0.2rem $blue;
      margin-right: 1rem;
      border-radius: 4rem;
    }
  }
}
