@import '../../stylesheets/variables';

.ModalDonate {
  .banner {
    width: 60%;
    margin: auto;
    height: 20rem;
    display: block;
    border-radius: 24.9rem 28rem 20.9rem 24.8rem;
    background: url(../../images/wellness.jpg) no-repeat center center / cover;
  }

  strong {
    font-size: 1.8rem;
  }

  .big-gray {
    text-align: center;
    margin-bottom: 3rem;
  }

  .title {
    margin-top: 8rem;
  }

  .modal-body {
    max-height: 90vh;
    overflow: scroll;

    .card {
      margin-bottom: 3rem;
      border: 0;
    }

    .hero {
      margin: 2rem auto 1rem auto;
      width: 100%;
      display: block;
      height: 12rem;
      border-radius: 24.9rem 28rem 20.9rem 24.8rem;
      position: relative;
      border: solid 0.2rem $yellow;

      .card-title {
        font-size: 1.8rem;
        color: $white;
        font-weight: 700;
        background: $yellow;
        display: inline;
        padding: 0.4rem 2.4rem;
        border-radius: 1.9rem 2rem 1.6rem 1.8rem;
        position: absolute;
        bottom: 0;
        right: 0;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .card-text {
      font-size: 1.2rem;
    }

    .url,
    .points {
      display: block;
    }

    .url {
      color: $yellow;
    }
  }
}
