@import '../../stylesheets/variables';

small {
    display: block;
  strong {
    color: $purple;
    display: inline-block;
    margin-right: 0.6rem;
  }
}

h1 {
  &.purple {
    color: $purple;
  }
}

.already-booked  {
  font-weight: 600;
  color: $blue;
  margin-top: 1rem;
  text-transform: uppercase;
}

.InstructorLessons {
  .capacity {
    margin: 1rem auto;
  }

  .btn {
    margin: 1rem 0;
  }
}