@import '../../stylesheets/variables';

.button {
  &.__yellow-btn {
    background: $yellow;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6rem;
    border: 0;
    margin: 2rem;
    padding: 1rem;

    &.disabled {
      pointer-events: none;
      color: rgba($text, 0.3);
    }
  }
}
