.button {
  margin: 2rem;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button.__yellow-btn {
  background: #ffcc00;
  border: 0;
}

.button.__yellow-btn.disabled {
  pointer-events: none;
  color: rgba(51, 51, 51, 0.3);
}

.button.__follow-btn {
  border: solid 0.1rem #ffcc00;
  background: #fff;
}
