.my-plans {
  border-bottom: solid 0.1rem #e8e8e8;
  min-height: 20.1rem;
}

.my-plans .item {
  padding: 6rem 0 4rem 0;
}

.my-plans h1 {
  font-size: 4rem;
  font-weight: 900;
  display: inline-block;
}

.my-plans h4 {
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}

.my-plans .purple {
  color: #7a0054;
}

.my-plans .add-plans {
  color: #333;
  display: flex;
  align-items: center;
}

.my-plans .add-plans:after {
  content: '';
  width: 1.6rem;
  height: 1.6rem;
  background: url(../../../images/next.svg) no-repeat center center/contain;
  display: block;
  margin-left: 0.6rem;
  transition: all 200ms ease-in-out;
}

.my-plans .add-plans:hover {
  text-decoration: none;
  cursor: pointer;
}

.my-plans .add-plans:hover:after {
  margin-left: 2rem;
}

.my-plans .plans-block .plans-item {
  padding: 2rem;
}

@media (max-width: 576px) {
  .plans-block,
  .plans-item {
    padding: 0;
  }
  .plans-block .row,
  .plans-item .row {
    padding: 0;
  }
}
