.org-item {
    padding-top: 2rem;
    border-right: solid 0.1rem #e8e8e8;
    border-bottom: solid 0.1rem #e8e8e8;
    min-height: 20rem;
    overflow: hidden;
    position: relative;
    color: #333;
    text-decoration: none;
  }
  
  .org-item:last-child {
    border-bottom: 0;
  }
  
  .org-item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffcc00;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 200ms ease-in-out;
    z-index: -1;
  }
  
  .org-item:hover {
    color: #fff;
    position: relative;
    text-decoration: none;
  }
  
  .org-item:hover:before {
    opacity: 0.8;
  }
  
  .org-item:hover .org.__avatar {
    width: 26rem;
    height: 26rem;
    bottom: -4rem;
    right: -2rem;
  }
  
  .org-item:hover .org.__discipline {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .org-item .org.__name {
    font-size: 3rem;
  }
  
  .org-item .org.__discipline {
    font-weight: 400;
    color: rgba(51, 51, 51, 0.6);
    font-size: 1.8rem;
  }
  
  .org-item .org.__avatar {
    width: 12rem;
    height: 12rem;
    display: block;
    border-radius: 7.8rem 9.2rem 8.8rem 9.6rem;
    border: solid 0.2rem #ffcc00;
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    z-index: -5;
    transition: all 200ms ease-in-out;
  }
  