.OrgsItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: solid 0.1rem #e8e8e8;
  border-right: solid 0.1rem #e8e8e8;
  border-top: solid 0.6rem #fff;
  position: relative;
}

.OrgsItem:hover {
  cursor: pointer;
  border-top: solid 0.6rem #ffcc00;
}

.OrgsItem:hover:before {
  width: 2.6rem;
  height: 2.6rem;
  transform: rotate(45deg);
  opacity: 0;
}

.OrgsItem:hover:after {
  width: 2rem;
  height: 2rem;
  transform: rotate(0deg);
  opacity: 1;
}

.OrgsItem:before {
  content: '';
  width: 2rem;
  height: 2rem;
  background: url(../../../../../images/plus.svg) no-repeat center center/contain;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  transition: all 300ms ease-in-out;
  transform: rotate(0deg);
  opacity: 1;
}

.OrgsItem:after {
  content: '';
  width: 2rem;
  height: 2rem;
  background: url(../../../../../images/next.svg) no-repeat center center/contain;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: block;
  transition: all 300ms ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.OrgsItem strong {
  font-weight: 600;
  font-size: 2rem;
}

.OrgsItem .org.__name {
  color: #ffcc00;
}

.OrgsItem .org.__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 1.9rem 2.1rem 2.4rem 2.3rem;
  margin-right: 1rem;
  border: solid 0.1rem #ffcc00;
}

.OrgsItem .org.__role {
  color: rgba(51, 51, 51, 0.5);
  font-weight: 600;
}

.OrgsItem .donate {
  font-size: 2rem;
  color: #00a9ad;
  font-weight: 600;
  margin-top: 1rem;
}
