.Calendar .dates-row {
  min-height: 13rem;
  align-items: stretch;
}

.Calendar .dates-row .col.box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 0;
  flex-direction: column;
  border-left: solid 1px #e8e8e8;
}

.Calendar .dates-row .col.box .day {
  position: absolute;
  font-size: 1.4rem;
  color: #333;
  left: 50%;
  top: 7rem;
}

.Calendar .dates-row .date-num {
  font-size: 8rem;
  height: 13rem;
  display: flex;
  align-items: center;
  background: rgba(51, 51, 51, 0.4);
  width: 100%;
  justify-content: center;
  font-family: 'MuseoModerno', cursive;
  color: #ffcc00;
}

.Calendar .dates-row .date-num.current {
  color: #333;
  background: #ffcc00;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13rem;
}

.Calendar .dates-row .date-num.current .day {
  color: #fff;
}

.Calendar .dates-row .date-num .big-date {
  position: relative;
  display: flex;
  height: 13rem;
  align-items: center;
}

.Calendar .dates-row .date-num .big-date .month {
  position: absolute;
  top: 3.2rem;
  right: -1.8rem;
}

.Calendar .dates-row hr {
  margin: 0;
  width: 100%;
}

.Calendar .calendar-item {
  max-width: 100%;
  border-bottom: solid 0.1rem #e8e8e8;
  border-right: 0;
}

.Calendar .calendar-item.waiting {
  border-bottom: solid 0.6rem #7a0054;
  pointer-events: none;
}

.Calendar .calendar-item.reserved-lesson {
  border-bottom: solid 0.6rem #ffcc00;
}

.Calendar .calendar-item .cal-item.__date {
  display: none;
}

.Calendar .calendar-item .cal-item.__hour {
  color: #333;
  font-weight: 400;
  margin-top: 2rem;
}

.Calendar .calendar-item .cal-item.__discipline {
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.Calendar .calendar-item .cal-item.__instructor {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.Calendar .calendar-item .cal-item.__instructor .avatar {
  border: solid 0.1rem #ffcc00;
}

.Calendar .calendar-item .cal-item.__gym {
  color: rgba(51, 51, 51, 0.5);
  font-weight: 600;
  font-size: 1.2rem;
  color: rgba(51, 51, 51, 0.5);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
}

.Calendar .calendar-item .cal-item.__gym:before {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background: url(../../../images/address.svg) no-repeat center center/contain;
  content: '';
  margin-right: 1rem;
}

.Calendar .calendar-select {
  background: #333;
  padding: 2rem 0;
  position: relative;
}

.Calendar .calendar-select .form-group {
  margin: 0;
}

.Calendar .calendar-select .form-group select {
  background: #333;
  text-align: center;
  color: #fff;
  border: 0;
  position: relative;
  padding-left: 4rem;
}

.Calendar .calendar-select:before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: url(../../../images/arrow-down.svg) no-repeat center center/contain;
  display: block;
  left: 2rem;
  top: 3rem;
  color: #fff;
  z-index: 5;
  transform: rotate(90deg);
}

.Calendar .week-select {
  background: rgba(51, 51, 51, 0.4);
  padding: 2rem 0;
  border-bottom: solid 0.1rem #fff;
}

.Calendar .week-select .btns-row {
  display: flex;
  align-items: center;
}

.Calendar .week-select span {
  padding-right: 1rem;
}

.Calendar .week-select span.today {
  border-right: solid 0.1rem #333;
  font-weight: 600;
}

.Calendar .week-select span.prev, .Calendar .week-select span.next {
  width: 4rem;
  height: 1.6rem;
  display: inline-block;
}

.Calendar .week-select span.prev.prev, .Calendar .week-select span.next.prev {
  background: url(../../../images/next.svg) no-repeat center center/contain;
  transform: rotate(180deg);
  border-left: solid 0.1rem #333;
}

.Calendar .week-select span.next {
  background: url(../../../images/next.svg) no-repeat center center/contain;
  border-right: solid 0.1rem #333;
}

.Calendar .week-select span:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media (max-width: 576px) {
  .Calendar .dates-row .col {
    width: 33.33%;
    flex-basis: auto;
    flex-grow: unset;
  }
  .Calendar .dates-row .col.box {
    min-height: auto;
    border-bottom: solid 1px #e8e8e8;
  }
  .Calendar .dates-row .col.box .day {
    font-size: 1.4rem;
    left: 40%;
    top: 7rem;
  }
  .Calendar .calendar-item:last-child {
    border-bottom: 0;
  }
}
