.gym-centers {
  .gyms-bg {
    background: url(../../../images/gyms-bg.jpg) no-repeat center -21rem / cover;
    padding: 10rem 0;
    height: 30rem;
  }

  .form-group {
    margin: 2rem auto;
    .form-control {
      border: 0 !important;
      outline: none;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .gym-centers {
    .gyms-bg {
      background: url(../../../images/gyms-bg.jpg) no-repeat center center/cover;
    }
  }
}
