.gym-centers .gyms-bg {
  background: url(../../../images/gyms-bg.jpg) no-repeat center -21rem/cover;
  padding: 10rem 0;
}

.gym-centers .form-group {
  margin: 2rem auto;
}

.gym-centers .form-group .form-control {
  border: 0 !important;
  outline: none;
}

.gym-centers .form-group .form-control:focus, .gym-centers .form-group .form-control:active {
  outline: none;
}

@media (max-width: 576px) {
  .gym-centers .gyms-bg {
    background: url(../../../images/gyms-bg.jpg) no-repeat center center/cover;
  }
}
