.gym-centers {
  .gyms-bg {
    background: url(../../../images/gyms-bg.jpg) no-repeat center -21rem / cover;
    padding: 10rem 0;
  }

  .form-group {
    margin: 2rem auto;
    .form-control {
      border: 0 !important;
      outline: none;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}
