.ModalEditUser .modal-body {
  border: solid 0.3rem #ffcc00;
}

.ModalEditUser .button {
  margin: 0;
  margin-top: 2rem;
}

.ModalEditUser .avatar {
  width: 8rem;
  height: 8rem;
  display: block;
  position: absolute;
  top: -4rem;
  border-radius: 3.9rem 4.1rem 4.4rem 4.3rem;
  border: solid 0.3rem #ffcc00;
}
