@import '../../stylesheets/variables';

.DonateCard {
  button {
      margin: 0;
      padding: 0 0.8rem;
      background: $white !important;
      color: $yellow;
      margin-bottom: 0.1rem;

      &.thanks {
          text-transform: capitalize;
          font-size: 1.2rem;
          font-weight: 400;
          border: 0;
          padding-left: 0;

          &.disabled {
              opacity: 1;
          }
      }
  }

  .points-bar {
    font-size: 1.2rem;

    .fill-bar {
      background-color: $yellow;
      padding: 0.2rem;
      display: block;
    }
  }

  .list-group-item {
    border: 0;
  }

  hr {
    margin: 0.2rem 0;
    display: block;
  }
}
