@import '../../../stylesheets/variables';

.CheckoutModal {
  position: absolute;
  background: rgba($white, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  animation: 500ms fromTop forwards linear;
  opacity: 0;

  .close {
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    font-weight: 300;
    background: url(../../../images/close.svg) no-repeat center center / contain;

    &:hover {
      cursor: pointer;
    }
  }

  .creditcard {
    padding: 6rem 3rem 3rem 3rem;
    background: $white;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.69);
  }

  .Result {
    .ResultTitle {
      color: $blue;
      font-size: 2.6rem;
      margin-bottom: 2rem;
    }

    .btn {
      background: $yellow;
      border: 0;
    }
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
