.plans-item {
  border-left: solid 0.1rem #e8e8e8;
  min-height: 20rem;
  position: relative;
}

.plans-item .button {
  transition: all 200ms ease;
}

.plans-item .button.__yellow-btn {
  margin: 0;
  margin-top: 1rem;
}

.plans-item .button:hover {
  background: #333;
  color: #fff;
}

.plans-item small {
  display: block;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.plans-item:first-child .save {
  display: none;
}

.plans-item .save {
  font-weight: 800;
  font-size: 2rem;
  color: #ffcc00;
}
