@import '../../stylesheets/variables';

.coach-avatar-row {
  position: relative;
  overflow: hidden;
  min-height: 32rem;
  .coach-avatar {
    width: 40rem;
    height: 40rem;
    border: 0.8rem solid $yellow;
    border-radius: 24.9rem 28rem 20.9rem 24.8rem;
    position: absolute;

  }
}

h1 {
  &.discipline {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}
