.my-info .center {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.gym-name {
  border-top: solid 0.1rem #e8e8e8;
}

.gym-name:first-child {
  border: 0;
}

.gym-name:last-child {
  border-bottom: solid 0.1rem #e8e8e8;
}
