@import '../../../stylesheets/variables';

.my-info {
  .center {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.gym-name {
  border-top: solid 0.1rem $light-gray;

  &:first-child {
    border: 0;
  }

  &:last-child {
    border-bottom: solid 0.1rem $light-gray;
  }
}
