@import '../../stylesheets/variables';

.user-info-item {
  border-left: solid 0.1rem $light-gray;
  min-height: 20rem;
}

.title {
    font-weight: 800;
    font-size: 2rem;

    &.__yellow-title {
        color: $yellow;
    }

    &.__blue-title {
        color: $blue;
    }

    &.__purple-title {
        color: $purple;
    }
}
