@import '../../stylesheets/variables';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba($white, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;

  hr {
    margin-top: 2rem;
  }

  .discipline {
    font-weight: 400;
    color: rgba(51, 51, 51, 0.6);
    font-size: 1.8rem;
  }

  .modal-body {
    background: $white;
    padding: 3rem;
    border: solid 0.1rem $yellow;
  }

  .close {
    position: absolute;
    font-size: 2rem;
    top: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    font-weight: 300;
    background: url(../../images/close.svg) no-repeat center center / contain;

    &:hover {
      cursor: pointer;
    }
  }
}
