$text: #333;
$white: #fff;
$light-gray: #e8e8e8;

$yellow: #ffcc00;
$blue: #00a9ad;
$orange: #fb9000;
$pink: #cb1b53;
$purple: #7a0054;

$dark-blue: #211e35;

$gray-header: #393939;
$acordeon-bar: #747474;
$acordeon-body: #7a7a7a;

$margin-top: 8.5rem;
