.navbar {
  font-weight: 400;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 0;
}

.navbar .logout {
  color: #00a9ad;
}

.navbar.__grayHeader {
  background: #393939;
  padding-right: 2rem;
}

.navbar.__grayHeader .user-logs {
  border-left: 0;
}

.navbar .header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .header-user .user-hi {
  color: #fff;
  border-left: solid 0.1rem #ffcc00;
  padding-left: 2rem;
}

.navbar .navbar-brand {
  padding: 3rem 1rem 3rem 3rem;
}

.navbar .navbar-brand .victs-logo {
  width: 10rem;
  height: 2.5rem;
}

.navbar .logo {
  width: 10rem;
}

.navbar .navbar-collapse {
  justify-content: flex-end;
}

.navbar .navbar-collapse ul {
  justify-content: flex-end;
}

.navbar .nav-item {
  margin-right: 3rem;
}

.navbar .nav-item a {
  color: #fff;
  transition: all 200ms ease;
}

.navbar .nav-item a:hover {
  color: #ffcc00;
}

.navbar .nav-item .active {
  color: #ffcc00;
}

.navbar .user-logs {
  border-left: solid 0.1rem #ffcc00;
  display: flex;
}

.navbar .user-logs .login {
  background: #ffcc00;
  padding: 0.8rem 3.2rem;
  border-radius: 2.6rem 2.1rem 1.7rem 2rem;
  position: relative;
  margin-left: 3rem;
}

.navbar .user-logs .login:hover, .navbar .user-logs .login.active {
  color: #333;
}

.navbar .navbar-toggler {
  color: #fff;
  outline: none;
  margin-right: 1.6rem;
}

.navbar .navbar-toggler svg {
  width: 2.4rem;
}

@media (max-width: 576px) {
  .navbar .user-logs {
    border-left: 0;
    display: flex;
    flex-direction: column;
    border-top: solid 0.1rem #e8e8e8;
  }
  .navbar .user-logs .nav-item:first-child {
    display: flex;
  }
  .navbar .user-logs .login {
    margin-left: 0;
    padding: 0;
    padding-top: 1rem;
    color: #ffcc00;
    background: none;
    font-weight: 900;
  }
  .navbar .navbar-collapse {
    padding: 0 2rem;
    position: absolute;
    width: 100%;
    top: 8.4rem;
    left: 0;
    z-index: 50;
  }
  .module.bg h1 {
    margin-bottom: 4rem;
    line-height: 3rem;
    font-size: 10rem;
  }
  .module.bg h1 strong {
    font-size: 7rem;
  }
}
