.AdminInvoices {
  padding: 3rem 0 20rem 0;
}

.AdminInvoices h4 {
  font-weight: 600;
  color: #00a9ad;
}

.AdminInvoices .address-info,
.AdminInvoices .Address {
  background: #ffcc00;
  margin-top: 0;
  padding: 2rem 5rem;
}

.AdminInvoices .Address-Block-address {
  color: #333;
}

.AdminInvoices .header-info {
  background: #333;
  margin-top: 3rem;
}

.AdminInvoices .Header-title,
.AdminInvoices .Header-date {
  color: #fff;
}

.AdminInvoices .List {
  margin-top: 3rem;
  width: 100%;
}
