@import '../../stylesheets/variables';

.navbar {
  &.dark {
    background: $dark-blue;
  }
}

.login-block {
  background: rgba($white, 0.8);
  padding: 6rem;
  align-self: center;
}

.alert {
  &.alert-danger {
    background: none;
    border: 0;
    color: $dark-blue;
    margin: 2rem auto;
    text-align: center;
  }
}

.options {
  margin: 3rem auto 0 auto;

  a {
    color: $text;

    &:first-child {
      border-right: solid 0.1rem $text;
      padding-right: 1rem;
      margin-right: 1rem;
    }
  }
}
