.navbar.dark {
  background: #211e35;
}

.login-block {
  background: rgba(255, 255, 255, 0.9);
  padding: 6rem;
  align-self: center;
}

.alert.alert-danger {
  background: none;
  border: 0;
  color: #211e35;
  margin: 2rem auto;
  text-align: center;
}

.options {
  margin: 3rem auto 0 auto;
}

.options a {
  color: #333;
}

.options a:first-child {
  border-right: solid 0.1rem #333;
  padding-right: 1rem;
  margin-right: 1rem;
}

.login-bg {
  background: url(../../images/fondo-login.jpg) no-repeat top center/cover;
  position: relative;
}

.login-bg:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  top: 0;
  left: 0;
  display: block;
  background: linear-gradient(330deg, rgba(255, 204, 0, 0.4) 0%, rgba(203, 27, 83, 0.2) 50%, rgba(0, 169, 173, 0.8) 100%);
}

@media (max-width: 576px) {
  .options a:first-child {
    border-right: 0;
  }
}
