@import '../../stylesheets/variables';

.gym-info {
    padding: 4rem 0;
    border-bottom: solid 0.1rem $light-gray;
  
    .address {
      font-size: 2rem;
      display: flex;
      align-items: center;
      font-weight: 300;
      margin-bottom: 1.2rem;
  
      &:before {
        content: '';
        width: 3rem;
        height: 3rem;
        display: inline-block;
        margin-right: 1rem;
        background: url(../../images/address.svg) no-repeat center center /
          contain;
      }
    }
  
    .contact {
      strong {
        margin-left: 1.2rem;
      }
    }
  
    .button {
        display: block;
        margin-left: 1.2rem;
    }
  }