.my-info {
  margin-top: 10rem;
}

.my-info .center {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.gym-name {
  height: 20rem;
  border-top: solid 0.1rem #ddd;
}

.avatar {
  width: 20rem;
  height: 20rem;
}
