.my-info {
  margin-top: 10rem;
}

.my-info .center {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.profile-title {
  position: relative;
}

.profile-title:before {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 2rem;
  left: -5rem;
  content: '';
  background: url(../../images/bars.svg) no-repeat center center/contain;
}

small {
  font-size: 1.1rem;
}

.acordeon-bar {
  margin-top: 8.5rem;
  width: 100%;
  background: #747474;
  text-align: center;
  padding: 0;
  padding-top: 8rem;
}

.acordeon-bar .card-body {
  background: #7a7a7a;
  padding-top: 4rem;
  position: relative;
  border-top: solid 0.1rem #ffcc00;
}

.acordeon-bar .card-body .close {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 3rem;
  right: 3rem;
  content: '';
  background: url(../../images/close.svg) no-repeat center center/contain;
}

.acordeon-bar .card-body .close:hover {
  cursor: pointer;
}

.acordeon-bar .card-body .profile-info {
  text-align: left;
  color: #fff;
}

.acordeon-bar .card-body .profile-info .content-block {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.8rem;
}

.acordeon-bar .card-body .profile-info .content-block strong {
  font-size: 1.6rem;
  color: #ffcc00;
  font-weight: 700;
}

.acordeon-bar .card-body .profile-info .form-group {
  display: flex;
}

.acordeon-bar .card-body .profile-info .form-group label {
  display: none;
}

.acordeon-bar .card-body .profile-avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.acordeon-bar .card-body .profile-avatar .avatar {
  width: 20rem;
  height: 19rem;
  margin: 2rem auto;
  border: solid 0.4rem #ffcc00;
  border-radius: 39.6rem 41.5rem 44.2rem 43.4rem;
  position: relative;
}

.acordeon-bar .card-body .profile-avatar .avatar:before {
  content: '';
  position: absolute;
  top: -1.2rem;
  left: -1.1rem;
  width: 21.4rem;
  height: 21rem;
  display: block;
  border: solid 0.4rem #ffcc00;
  border-radius: 39.6rem 41.5rem 44.2rem 43.4rem;
}

.acordeon-bar .card-body .profile-avatar .button {
  position: absolute;
  bottom: -4rem;
  left: -2rem;
}

.acordeon-bar .card-body .profile-avatar .cancel {
  position: absolute;
  bottom: -4rem;
  right: -2rem;
  left: unset;
}

.acordeon-bar .card-body .message {
  position: absolute;
  background: #ffcc00;
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 0;
  z-index: 5;
  animation: fadein 2s linear;
  opacity: 0;
}

.acordeon-bar .edit-profile .profile-info .content-block {
  margin: 0;
}

.acordeon-bar .edit-profile .profile-info .content-block .form-group {
  margin: 0.5rem 0;
}

.acordeon-bar .acordeon-toggle {
  color: #fff;
}

.acordeon-bar .acordeon-toggle h1 {
  font-size: 8rem;
  position: relative;
  display: inline-block;
  margin-bottom: 4rem;
}

.acordeon-bar .acordeon-toggle h1 .role {
  background: #ffcc00;
  color: #333;
  padding: 0.8rem;
  position: absolute;
  font-size: 1.8rem;
  right: -4rem;
  bottom: 0rem;
}

.gym-name {
  border-top: solid 0.1rem #ddd;
}

.avatar {
  width: 20rem;
  height: 20rem;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
