@import '../../stylesheets/variables';

.calendar-item {
  font-size: 1.4rem;
  border-right: solid 0.1rem $light-gray;
  min-height: 20rem;
  transition: all 200ms ease-in-out;
  position: relative;

  &.false-link {
    &:hover {
      cursor: pointer;

      &:before {
        width: 2.6rem;
        height: 2.6rem;
        transform: rotate(45deg);
        opacity: 0;
      }

      &:after {
        width: 2rem;
        height: 2rem;
        transform: rotate(0deg);
        opacity: 1;
      }
    }
  }

  &:before {
    content: '';
    width: 2rem;
    height: 2rem;
    background: url(../../images/plus.svg) no-repeat center center / contain;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    transition: all 300ms ease-in-out;
    transform: rotate(0deg);
    opacity: 1;
  }

  &:after {
    content: '';
    width: 2rem;
    height: 2rem;
    background: url(../../images/next.svg) no-repeat center center / contain;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    transition: all 300ms ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
  }

  &.reserved-lesson{
    border-bottom: solid 0.6rem $yellow;
  }

  span {
    display: block;
  }

  .cal-item {
    &.__date {
      padding: 2rem 0 0rem 0;
      font-weight: 400;
      font-size: 1.2rem;
    }

    &.__hour {
      font-weight: 600;
      color: $yellow;
      font-size: 1.2rem;
      margin-top: 1rem;
    }

    &.__discipline {
      font-weight: 900;
      text-transform: uppercase;
    }

    &.__gym {
      display: none;
    }

    &.__instructor {
      font-weight: 600;
      font-size: 1.2rem;
      display: flex;

      a {
        color: $yellow;
        margin-left: 0.6rem;
      }

      .avatar {
        width: 2rem;
        height: 2rem;
        display: block;
        border: solid 0.1rem $yellow;
        border-radius: 3.9rem 4.1rem 4.4rem 4.3rem;
        margin-right: 1rem;
      }
    }
  }

  .capacity {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .calendar-item {
    border-bottom: solid 0.1rem $light-gray;
  }
}
