@import '../../../stylesheets/variables';

.Trainers {
  h1 {
    text-transform: uppercase;

    &.yellow-color {
      color: $yellow;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media (max-width: 576px) {
  .victorious-visuals {
    width: 100%;
  }

  .gradient {
    padding: 0 3rem;
    .row {
      padding: 0;
    }
  }
}
