.Trainers h1 {
  text-transform: uppercase;
}

.Trainers h1.yellow-color {
  color: #ffcc00;
}

.Trainers h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .victs-visuals {
    width: 100%;
  }
  .gradient {
    padding: 0 3rem;
  }
  .gradient .row {
    padding: 0;
  }
}
